// Colors
$color-white: #ffffff;
$color-lightgrey: #f6f6f6;
$color-darkgrey: #303131;
$color-yellow: #f0ea6e;
$color-turquoise: #66cfbc;
$color-darkblue: #294f60;
$color-pink: #ed1b76;
$color-blue: #3ac1ff;
$color-orange: #ff9727;